body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.card {
    background-color: #3f3f3f;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    gap: 20x;
}
.lime-text {
    color: lime;
    font-size: 15px;
}
.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.social-links a {
    background-color: #595959;
    border-radius: 10px;
    min-width: 200px;
    padding: 10px;
    text-align: center;
}
img {
    border-radius: 50%;
    width: 75px;
    margin-top: 15px;
}