body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background-color: lightslategray;
    width: 450px;
    height: 700px;
}