* {
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: 'Inter', sans-serif;
    gap: 15px;
}
.card {
    background-color: hsl(0, 0%, 12%);
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    gap : 25px;
}
.lime-text {
    color: hsl(75, 94%, 57%);
    font-size: 15px;
}
p {
    font-size: 10px;
}
.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.social-links a {
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    min-width: 300px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.social-links a:hover {
    background-color: black;
}
img {
    border-radius: 50%;
    width: 75px;
    margin-top: 15px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(75, 94%, 57%)
}
.attribution a:hover {
    color: #595959;
}